.eunit
deps
*.o
*.beam
*.plt
erl_crash.dump
rel/example_project
.concrete/DEV_MODE
.rebar
_build/
app.config
yaws.conf
rebar.lock
compile_commands.json

ebin/*.beam
log/*.access
log/*.auth
log/console.log
log/crash.log
log/error.log
log/report.log
priv/*.pem
www/dist/css/
www/dist/fonts/
www/dist/js/
