%% -*- mode: erlang -*-
%%
[
    {lager, [{log_root, "/tmp/teko"},
             {colored, true},
             {handlers, [{lager_console_backend, debug},
                         {lager_file_backend, [{file, "log/error.log"},   {level, error}]},
                         {lager_file_backend, [{file, "log/console.log"}, {level, info}]}]}]},


    {yaws, [{embedded, true}]},
    {teko, []}
].
